*{
    border: 1px solid black;
    margin: 0px;
}
body{
    background: powderblue;
    display: grid;
    grid-template-rows: 240px, 40%, 40%, 240px;
}
header{
    display: grid;
    grid-area: auto;
}
section{
    background: plum;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 5%;
}
aside{
    background: pink;
}